name: ZAP Active Scan

on:
  workflow_call:
    secrets:
      ZAP_API_KEY:
        required: true
      ZAP_DASHBOARD_TOKEN:
        required: true

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    env:
      ZAP_API: "https://zapscan.seliselocal.com"
      ZAP_KEY: ${{ secrets.ZAP_API_KEY }}
      TARGET: "https://coscomp.seliselocal.com"

    steps:        
    - name: Access target URL
      run: |
        echo "Accessing target URL to populate ZAP session..."
        curl "$ZAP_API/JSON/core/action/accessUrl/?apikey=$ZAP_KEY&url=$TARGET&followRedirects=" > /dev/null
        curl "$ZAP_API/JSON/core/view/sites/?apikey=$ZAP_KEY"
 
    - name: Start Scan
      run: |
        echo "Starting active scan..."
        SCAN_ID=$(curl -s "$ZAP_API/JSON/ascan/action/scan/?url=$TARGET&recurse=true&inScopeOnly=false&apikey=$ZAP_KEY" | jq -r '.scan')
        # curl -s "$ZAP_API/JSON/ascan/action/scan/?url=$TARGET&recurse=true&inScopeOnly=false&apikey=$ZAP_KEY"

        echo "Scan ID: $SCAN_ID"
        echo "SCAN_ID=$SCAN_ID" >> $GITHUB_ENV

    # - name: Run custom script
    #   run: |
    #     API="https://zapscan.seliselocal.comrun-scan"
    #     KEY=${{ secrets.ZAP_API_KEY }}
    #     TARGET="https://coscomp.seliselocal.com"

    #     echo "Starting custom scan..."
    #     # SCAN_ID=$(curl -s "$ZAP_API/JSON/ascan/action/scan/?url=$TARGET&recurse=true&inScopeOnly=false&apikey=$ZAP_KEY" | jq -r '.scan')
    #     # "https://$ZAP_API/run-scan?apikey=$ZAP_KEY&url=$TARGET"
    #     curl -OJ "https://$ZAP_API/run-scan?apikey=$ZAP_KEY&url=$TARGET"

    #     # echo "Scan ID: $SCAN_ID"
    #     # echo "SCAN_ID=$SCAN_ID" >> $GITHUB_ENV

    - name: Wait until scan is finished
      run: |
        echo "Waiting for scan to reach 100%..."
        while true; do
          STATUS=$(curl -s "$ZAP_API/JSON/ascan/view/status/?scanId=${SCAN_ID}&apikey=$ZAP_KEY" | jq -r '.status')
          echo "Scan progress: $STATUS%"

          if [ "$STATUS" = "100" ]; then
            echo "Scan Completed!"
            break
          fi
          sleep 15
        done

    - name: Download xml Report
      run: |
        echo "Downloading Report..."
        curl -s "$ZAP_API/OTHER/core/other/xmlreport/?apikey=$ZAP_KEY" -o zap-coscomp-dev.xml

    - name: Upload Report Artifact
      uses: actions/upload-artifact@v4
      with:
        name: zap-report
        path: zap-coscomp-dev.xml

    - name: Upload Report to DefectDojo
      run: |
        curl -X POST "https://zap-dashboard.seliselocal.com/api/v2/import-scan/" \
        -H "Authorization: Token ${{ secrets.ZAP_DASHBOARD_TOKEN }}" \
        -H "Content-Type: multipart/form-data" \
        -F "active=true" \
        -F "verified=true" \
        -F "scan_type=ZAP Scan" \
        -F "product_name=ZAP-int-Test" \
        -F "engagement_name=CI/CD Engagement" \
        -F "auto_create_context=true" \
        -F "file=@zap-coscomp-dev.xml"