name: Win-Deploy

on:
  workflow_call:
    inputs:
      CONTAINER_NAME:
        required: true
        type: string
      NAMESPACE:
        required: true
        type: string
      SERVICE_NAME:
        required: true
        type: string
      CLUSTER_VALUES:
        required: true
        type: string
    secrets:
      SELISE_GITHUB_PAT:
        required: true
      AZURE_CREDENTIALS:
        required: true
      ClUSTER_RESOURCE_GROUP:
        required: true
      AZURE_CONTAINER_REGISTRY:
        required: true
      CLUSTER_NAME:
        required: true

env:
  SERVICE_TYPE: "winservice"

jobs:
  deploy:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set Environment Variables
        uses: ./.github/actions/setvars
        with:
          varFilePath: ./.github/variables/vars.env

      - name: Azure login
        uses: azure/login@v1.4.3
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: pull helm repo
        uses: actions/checkout@v4
        with:
          repository: SELISEdigitalplatforms/l0-yml-infrastructure-helm
          token: ${{ secrets.SELISE_GITHUB_PAT }}

      - name: Get K8s context
        uses: azure/aks-set-context@v2.0
        with:
          resource-group: ${{ secrets.ClUSTER_RESOURCE_GROUP }}
          cluster-name: ${{ secrets.CLUSTER_NAME }}

      - name: Add kubelogin
        uses: azure/use-kubelogin@v1
        with:
          kubelogin-version: "v0.0.24"

      - name: Convert kubeconfig to use AAD
        run: |
          kubelogin convert-kubeconfig -l azurecli

      - name: Setup Helm Installer
        uses: Azure/setup-helm@v3

      - name: Deploy To Kubernetes
        run: |
          echo {{ inputs.CLUSTER_VALUES }}
          helm upgrade \
          --install ${{inputs.CONTAINER_NAME}} ./new-templates/ecap3-${{env.SERVICE_TYPE}}/ \
          --namespace=${{inputs.NAMESPACE}} \
          --values ./${{ inputs.CLUSTER_VALUES }}/${{inputs.SERVICE_NAME}}-win.values.yaml \
          --set image.repository=${{ secrets.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ inputs.CONTAINER_NAME }} \
          --set image.tag=${{ github.sha }} \
          --set fullnameOverride=${{inputs.CONTAINER_NAME}}
