name: Build (main)
on:
  push:
    branches:
      - main

env:
  RUN_UNIT_TEST: 'false'
  RUN_SONARQUBE: 'false'

jobs:
  initialization:
    runs-on: ubuntu-latest
    outputs:
      envvalue1: ${{ steps.setvar.outputs.envvar1 }}
      envvalue2: ${{ steps.setvar.outputs.envvar2 }}
    steps:
      - name: set value
        id: setvar
        run: |
          echo "::set-output name=envvar1::$RUN_UNIT_TEST" 
          echo "::set-output name=envvar2::$RUN_SONARQUBE"
          
  test-job:
    if: ${{ needs.initialization.outputs.envvalue1=='true' }}
    uses: ./.github/workflows/1_test.yml
    needs: [initialization]

  sonarqube-job:
    if: ${{ success() && needs.initialization.outputs.envvalue2=='true' }}
    uses: ./.github/workflows/2_sonar.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_GLOBAL }}
    needs: [initialization]

  cd-job-build:
    if: ${{ github.event_name == 'push' && (success() || (needs.initialization.outputs.envvalue1=='false' && needs.initialization.outputs.envvalue2=='false')) }}
    uses: ./.github/workflows/build-web.yml
    with:
      VERSION: $PROD_VERSION
      CONTAINER_NAME: "prod-blocks-$SERVICE_NAME"
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_AKS_BLOCKS_PROD_CREDENTIALS }}
      AZURE_CONTAINER_REGISTRY: ${{ secrets.AZURE_BLOCKS_PROD_CONTAINER_REGISTRY }}
      ACR_RESOURCE_GROUP: ${{ secrets.ClUSTER_AKS_BLOCKS_PROD_RESOURCE_GROUP }}
    needs: [initialization]

  prod-deploy:
    uses: ./.github/workflows/deploy-web.yml
    with:
      VERSION: $PROD_VERSION
      CONTAINER_NAME: "prod-blocks-$SERVICE_NAME"
      NAMESPACE: "prod-$REPO_NAME"
      SERVICE_NAME: $SERVICE_NAME
      CLUSTER_VALUES: "aks-blocks-prod"
    secrets:
      SELISE_GITHUB_PAT: ${{ secrets.SELISE_GITHUB_PAT }}
      AZURE_CREDENTIALS: ${{ secrets.AZURE_AKS_BLOCKS_PROD_CREDENTIALS }}
      AZURE_CONTAINER_REGISTRY: ${{ secrets.AZURE_BLOCKS_PROD_CONTAINER_REGISTRY }}
      ClUSTER_RESOURCE_GROUP: ${{ secrets.ClUSTER_AKS_BLOCKS_PROD_RESOURCE_GROUP }}
      CLUSTER_NAME: ${{ secrets.AKS_BLOCKS_PROD_CLUSTER }}
    needs: [cd-job-build]

  non-prod-deploy:
    uses: ./.github/workflows/deploy-web.yml
    with:
      VERSION: $PROD_VERSION
      CONTAINER_NAME: "prod-blocks-$SERVICE_NAME"
      NAMESPACE: "prod-$REPO_NAME"
      SERVICE_NAME: $SERVICE_NAME
      CLUSTER_VALUES: "aks-blocks-nonprod"
    secrets:
      SELISE_GITHUB_PAT: ${{ secrets.SELISE_GITHUB_PAT }}
      AZURE_CREDENTIALS: ${{ secrets.AZURE_AKS_BLOCKS_PROD_CREDENTIALS }}
      AZURE_CONTAINER_REGISTRY: ${{ secrets.AZURE_BLOCKS_PROD_CONTAINER_REGISTRY }}
      ClUSTER_RESOURCE_GROUP: ${{ secrets.ClUSTER_AKS_BLOCKS_PROD_RESOURCE_GROUP }}
      CLUSTER_NAME: ${{ secrets.AKS_BLOCKS_NONPROD_CLUSTER }}
    needs: [cd-job-build]

  cd-job-win-build:
    if: ${{ github.event_name == 'push' && (success() || (needs.initialization.outputs.envvalue1=='false' && needs.initialization.outputs.envvalue2=='false')) }}
    uses: ./.github/workflows/build-win.yml
    with:
      CONTAINER_NAME: "prod-blocks-$SERVICE_NAME-win"
    secrets:
      AZURE_CREDENTIALS: ${{ secrets.AZURE_AKS_BLOCKS_PROD_CREDENTIALS }}
      AZURE_CONTAINER_REGISTRY: ${{ secrets.AZURE_BLOCKS_PROD_CONTAINER_REGISTRY }}
      ACR_RESOURCE_GROUP: ${{ secrets.ClUSTER_AKS_BLOCKS_PROD_RESOURCE_GROUP }}
    needs: [initialization]

  prod-deploy-win:
    uses: ./.github/workflows/deploy-win.yml
    with:
      CONTAINER_NAME: "prod-blocks-$SERVICE_NAME-win"
      NAMESPACE: "prod-$REPO_NAME"
      SERVICE_NAME: $SERVICE_NAME
      CLUSTER_VALUES: "aks-blocks-prod"
    secrets:
      SELISE_GITHUB_PAT: ${{ secrets.SELISE_GITHUB_PAT }}
      AZURE_CREDENTIALS: ${{ secrets.AZURE_AKS_BLOCKS_PROD_CREDENTIALS }}
      AZURE_CONTAINER_REGISTRY: ${{ secrets.AZURE_BLOCKS_PROD_CONTAINER_REGISTRY }}
      ClUSTER_RESOURCE_GROUP: ${{ secrets.ClUSTER_AKS_BLOCKS_PROD_RESOURCE_GROUP }}
      CLUSTER_NAME: ${{ secrets.AKS_BLOCKS_PROD_CLUSTER }}
    needs: [cd-job-win-build]

  non-prod-deploy-win:
    uses: ./.github/workflows/deploy-win.yml
    with:
      CONTAINER_NAME: "prod-blocks-$SERVICE_NAME-win"
      NAMESPACE: "prod-$REPO_NAME"
      SERVICE_NAME: $SERVICE_NAME
      CLUSTER_VALUES: "aks-blocks-nonprod"
    secrets:
      SELISE_GITHUB_PAT: ${{ secrets.SELISE_GITHUB_PAT }}
      AZURE_CREDENTIALS: ${{ secrets.AZURE_AKS_BLOCKS_PROD_CREDENTIALS }}
      AZURE_CONTAINER_REGISTRY: ${{ secrets.AZURE_BLOCKS_PROD_CONTAINER_REGISTRY }}
      ClUSTER_RESOURCE_GROUP: ${{ secrets.ClUSTER_AKS_BLOCKS_PROD_RESOURCE_GROUP }}
      CLUSTER_NAME: ${{ secrets.AKS_BLOCKS_NONPROD_CLUSTER }}
    needs: [cd-job-win-build]

