name: Build (main)
on:
  pull_request:
    types: [closed]
    branches: [main]
permissions:
  contents: read

env:
  RUN_UNIT_TEST: 'false'
  RUN_SAST: 'false'
  RUN_SCA: 'false'
  RUN_DAST: 'false'

jobs:
  initialization:
    runs-on: ubuntu-latest
    outputs:
      envvalue1: ${{ steps.setvar.outputs.envvar1 }}
      envvalue2: ${{ steps.setvar.outputs.envvar2 }}
      envvalue3: ${{ steps.setvar.outputs.envvar3 }}
      envvalue4: ${{ steps.setvar.outputs.envvar4 }}
    steps:
      - name: set value
        id: setvar
        run: |
          echo "envvar1=$RUN_UNIT_TEST" >> "$GITHUB_OUTPUT"
          echo "envvar2=$RUN_SAST" >> "$GITHUB_OUTPUT"
          echo "envvar3=$RUN_SCA" >> "$GITHUB_OUTPUT"
          echo "envvar4=$RUN_DAST" >> "$GITHUB_OUTPUT"
          
  cd-job-api-build:
    if: ${{ github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'dev' }}
    uses: ./.github/workflows/ci-api.yml
    permissions:
      contents: write
    with:
      MODE: main
      PR_NUMBER: ${{ github.event.pull_request.number }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      BLOCKSOS_REPO: ${{ secrets.BLOCKSOS_REPO }}
      SELISE_GITHUB_PAT: ${{ secrets.SELISE_GITHUB_PAT }}
    needs: [initialization]

  cd-job-worker-build:
    if: ${{ github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'dev' }}
    uses: ./.github/workflows/ci-worker.yml
    permissions:
      contents: write
    with:
      MODE: main
      PR_NUMBER: ${{ github.event.pull_request.number }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      BLOCKSOS_REPO: ${{ secrets.BLOCKSOS_REPO }}
      SELISE_GITHUB_PAT: ${{ secrets.SELISE_GITHUB_PAT }}
    needs: [initialization]
